kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      - containerPort: {{ kind_container_port }}
        hostPort: {{ kind_host_port }}
  - role: worker
  - role: worker